<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [formGroup]='profileForm'>
  <ion-list>
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Middle name</ion-label>
      <ion-input formControlName="middleName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Department</ion-label>
      <ion-select placeholder="Select department" value="ccs">
        <ion-select-option value="ccs">CCS</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label>Course</ion-label>
      <ion-select placeholder="Select course" value="bscs">
        <ion-select-option value="bscs">BSCS</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">GC Domain Email</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input formControlName="password"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input formControlName="passwordConfirmation"></ion-input>
  </ion-item>

  <ion-button expand="block">Update Profile</ion-button>
</ion-content>
