<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-text color="primary">
		<h5>Event Title</h5>
	</ion-text>
	<p>abc</p>

	<ion-text color="primary">
		<h5>Event Details</h5>
	</ion-text>
	<p>abc</p>

	<ion-text color="primary">
		<h5>Date</h5>
	</ion-text>
	<p>abc</p>

	<ion-text color="primary">
		<h5>Time</h5>
	</ion-text>
	<p>abc</p>

	<ion-text color="primary">
		<h5>Seminar Hours</h5>
	</ion-text>
	<p>10</p>
	

	<ion-text color="primary">
		<h5>Speaker/s</h5>
	</ion-text>
	<p>abc</p>

	<ion-button expand="block" [routerLink]="[]">Register</ion-button>
</ion-content>
