<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-thumbnail id="event-poster">
		<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
	</ion-thumbnail>

	<ion-text color="primary">
		<h5>Event Title</h5>
	</ion-text>
	<p>abc</p>

	<ion-text color="primary">
		<h5>Event Details</h5>
	</ion-text>
	<p>abc</p>

	<ion-text color="primary">
		<h5>Date</h5>
	</ion-text>
	<p>abc</p>

	<ion-text color="primary">
		<h5>Time</h5>
	</ion-text>
	<p>abc</p>

	<ion-text color="primary">
		<h5>Seminar Hours</h5>
	</ion-text>
	<p>10</p>
	

	<ion-text color="primary">
		<h5>Speaker/s</h5>
	</ion-text>
	<p>abc</p>
</ion-content>

<ion-footer translucent="true" class="ion-no-border ion-padding">
	<ion-button expand="block" [routerLink]="[]">Register</ion-button>
</ion-footer>
