<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" name="ellipse" style="color: var(--ion-color-primary);"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">GC-SEAMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item [routerLink]="['event-details']">
    <ion-label>
      <h2 style="display: inline-block; margin-bottom: -5px">Nævis we love you</h2>
      <p style="float: right;">October 5, 2021</p>
      <h3>
        You are the one who protected me when I was in trouble
        My naevis we love U
        My victory, one SYNK DIVE
        All the opportunities you’ve created
        I know your sacrifices Oh
        My naevis we love U
        I know, we’ll make sure to find your memories
        Let’s meet surely after the resurrection
      </h3>
      <p>6:00 PM - 12:00 AM</p>
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="qr-code"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
