<ion-refresher slot="fixed">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-list>
  <ion-item *ngFor="let invitation of invitations" [routerLink]="[invitation.event_uuid]">
    <ion-label>
      <h2 style="display: inline-block; margin-bottom: -5px">{{invitation.event_title}}</h2>
      <p style="float: right;">{{getEventDate(invitation) | date}}</p>
      <h3>
        {{invitation.event_description}}
      </h3>
      <p>{{getEventStartTime(invitation) | date:'h:mm a'}} - {{getEventEndTime(invitation) | date:'h:mm a'}} &nbsp;●&nbsp; {{invitation.seminar_hours}} seminar hr</p>
    </ion-label>
  </ion-item>
</ion-list>
