<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Log in to GC-SEAMS</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [formGroup]='credentialsForm' class="ion-padding">
  <div style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
    <ion-text class="ion-padding">
      <h1>Log in to GC-SEAMS</h1>
    </ion-text>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">GC Domain Email</ion-label>
      <ion-input formControlName="email" required></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" [disabled]="credentialsForm.invalid"
      (click)='login()' [routerLink]="['homescreen']">
      Login
    </ion-button>
    <ion-button expand="block" fill="outline" [routerLink]="['register']">Register</ion-button>
  </div>
</ion-content>
