<ion-header>
  <ion-toolbar>
    <ion-title>Log in to GC-SEAMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]='credentialsForm' [style.--background]="'#00000000'">
  <ion-item>
    <ion-label position="stacked">GC Domain Email</ion-label>
    <ion-input formControlName="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" formControlName="password" required></ion-input>
  </ion-item>

  <ion-button expand="block" [disabled]="credentialsForm.invalid" (click)='login()' [routerLink]="['homescreen/tab2']">Login</ion-button>
  <ion-button expand="block" [routerLink]="['register']">Register</ion-button>
</ion-content>
