<ion-header>
  <ion-toolbar>
    <ion-title>Log in to GC-SEAMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">GC Domain Email</ion-label>
    <ion-input [(ngModel)]="credential.email_address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input [(ngModel)]="credential.password"></ion-input>
  </ion-item>

  <ion-button expand="block"  (click)='login()'>Login</ion-button>
  <ion-button expand="block" [routerLink]="['register']">Register</ion-button>
</ion-content>
