<ion-tabs>  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-events">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>My Events</ion-label>
    </ion-tab-button>

    <ion-tab-button style="max-width: 16%;"></ion-tab-button>

    <ion-tab-button tab="all-events">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>All Events</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab id="scan-qr-fab" vertical="bottom" horizontal="center" slot="fixed" edge="false">
  <ion-fab-button [routerLink]="['/scan-qr']">
    <ion-icon name="qr-code"></ion-icon>
  </ion-fab-button>
</ion-fab>
