<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" name="ellipse" style="color: var(--ion-color-primary);"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">GC-SEAMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item [routerLink]="['event-details']">
    <ion-label>
      <h2 style="display: inline-block; margin-bottom: -5px">BSCS Programming</h2>
      <p style="float: right;">October 2, 2021</p>
      <h3>
        - C <br>
        - Java
      </h3>
      <p>6:00 PM - 12:00 AM</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['event-details']">
    <ion-label>
      <h2 style="display: inline-block; margin-bottom: -5px">Lorem Ipsum</h2>
      <p style="float: right;">October 3, 2021</p>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </h3>
      <p>12:00 PM - 2:00 PM</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['event-details']">
    <ion-label>
      <h2 style="display: inline-block; margin-bottom: -5px">Lorem Ipsum</h2>
      <p style="float: right;">October 1 - October 3, 2021</p>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </h3>
      <p>3:00 PM - 6:00 PM</p>
    </ion-label>
  </ion-item>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="presentModal()">
    <ion-icon name="qr-code"></ion-icon>
  </ion-fab-button>
</ion-fab>
