<ion-refresher slot="fixed">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-list>
  <ion-item *ngFor="let event of events" [routerLink]="[event.event_uuid, 'false']">
    <ion-label>
      <h2 style="display: inline-block; margin-bottom: -5px">{{event.event_title}}</h2>
      <p style="float: right;">{{getEventDate(event) | date}}</p>
      <h3>
        {{event.event_description}}
      </h3>
      <p>{{getEventStartTime(event) | date:'h:mm a'}} - {{getEventEndTime(event) | date:'h:mm a'}} &nbsp;●&nbsp; {{event.seminar_hours}} seminar hr</p>
    </ion-label>
  </ion-item>
</ion-list>
