<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header lines="full">
      <ion-label>Full Name</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Middle name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name name</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Department</ion-label>
      <ion-select placeholder="Select department">
        <ion-select-option></ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label>Course</ion-label>
      <ion-select placeholder="Select course">
        <ion-select-option></ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">GC Domain Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label type="password" position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label type="password" position="floating">Confirm Password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button expand="block">Update Profile</ion-button>
</ion-content>
