<ion-header class="ion-no-border ion-padding" [translucent]="true">
  <ion-toolbar [style.--background]="'#00000000'">
    <!-- <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>scan-qr-modal</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="'#00000000'">

</ion-content>

<ion-footer translucent="true" class="ion-no-border ion-padding">
	<ion-button expand="block" [routerLink]="['/alternative-code']">Use Alternative Code</ion-button>
</ion-footer>