<ion-list>
  <ion-item [routerLink]="['event-details']">
    <ion-label>
      <h2 style="display: inline-block; margin-bottom: -5px">Introduction to Python</h2>
      <p style="float: right;">December 1, 2021</p>
      <h3>
        Python is an open-source (free) programming language that is used in web programming, 
        data science, artificial intelligence, and many scientific applications.
      </h3>
      <p>3:00 PM - 6:00 PM &nbsp;●&nbsp; 10 seminar hr</p>
    </ion-label>
  </ion-item>
</ion-list>