<ion-list>
  <ion-list-header class="ion-padding-end ion-text-end">
    <ion-label>Total Seminar Hours - 500
    </ion-label>
  </ion-list-header>

  <ion-item [routerLink]="['event-details']">
    <ion-label>
      <h2 style="display: inline-block; margin-bottom: -5px">Lorem Ipsum</h2>
      <p style="float: right;">October 1 - October 3, 2021</p>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </h3>
      <p>3:00 PM - 6:00 PM</p>
    </ion-label>
  </ion-item>

</ion-list>