<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Register to GC-SEAMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [formGroup]="profileForm">
  <ion-list>
    <ion-list-header lines="full">
      <ion-label>Full Name</ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Middle name</ion-label>
      <ion-input formControlName="middleName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Department</ion-label>
      <ion-select placeholder="Select department" formControlName="department" (ionChange)="departmentSelectionChanged()">
        <ion-select-option *ngFor="let department of departments" value='{{department.department_id}}'>{{department.department_code}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label>Course</ion-label>
      <ion-select placeholder="Select course" formControlName="course">
        <ion-select-option *ngFor="let course of courses" value="{{course.course_id}}">{{course.course_code}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">GC Domain Email</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="password" formControlName="passwordConfirmation"></ion-input>
  </ion-item>

  <ion-button expand="block" [disabled]="profileForm.invalid" (click)="register()">Register</ion-button>
</ion-content>
